@model IEnumerable<Leblebi.ViewModels.MonthlyReportViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
}

<h1>Xərclər</h1>

<p>
    <a asp-action="Create">Xərc artır</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Kateqoriya
            </th>
            @for (var date = firstDayOfMonth; date <= lastDayOfMonth; date = date.AddDays(1))
            {
                <th style="width:60px !important">
                    @date.ToString("dd")
                </th>
            }
            <th>
                Ümumi məbləğ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @for (var i = firstDayOfMonth; i <= lastDayOfMonth; i = i.AddDays(1))
                {
                    var date = DateOnly.FromDateTime(i);
                    var expense = item.Reports.FirstOrDefault(x => x.Date == date);
                    if (expense == null)
                    {
                        <td style="width:60px !important"></td>
                    }
                    else
                    {
                        <td style="width:60px !important">
                            @expense.Value
                        </td>
                    }
                }
                <td>
                    @item.TotalValue
                </td>
            </tr>
        }
    </tbody>
</table>
