@model Leblebi.Models.Income

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gəlir artır</h1>

@* <h4>Income</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Məbləğ</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="IncomeType" class="control-label">Ödəniş növü</label>
                <select asp-for="IncomeType" class="form-control" asp-items="ViewBag.IncomeTypeList">
                    <option value="">-- Seçin --</option>
                </select>
                <span asp-validation-for="IncomeType" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="IncomeDate" class="control-label">Tarix</label>
                <input asp-for="IncomeDate" class="form-control" />
                <span asp-validation-for="IncomeDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Təsdiqlə" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Siyahıya qayıt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
